.project-list {
  display: grid;
  grid-column-gap: $base-spacing;
  grid-template-columns: repeat(6, 1fr);
}

  .project-list__item {
    grid-column: span 2;
    margin-bottom: $base-spacing * 2;
  }

    .project-list__title {
      margin-bottom: 0;
    }
    .project-list__link {
      display: block;
      position: relative;
    }
    .project-list__thumbnail {
      position: relative;
      margin: 0;
      padding: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
        min-height: 100%;
      }
    }

    .project-list__description {
      @extend .small;
      font-family: $font-family-serif;
    }
    .project-list__tags {}
      .project-list__tag {
        font-family: $font-family-serif-2;
      }

.project {}
  .project__header {}
  .project__content {}
  .project__footer {}
