/*
 * breakpoints
 */
$breakpoints: (
  xs:   320px,
  s:    425px,
  md:   768px,
  l:    1024px,
  xl:   1240px,
  xxl:  1440px,
  xxxl: 2560px
);

/*
 * z-index
 */
$z-index: (
  header: 9999
);

/*
 * aspect ratio
 */
$ratios: (
  3/2,
  2/3,
  5/4,
  4/5,
  4/3,
  3/4,
  16/9,
  9/16,
  7/5,
  5/7,
  6/5,
  5/6,
  1/1
);

/*
 * colors
 */
$black: #121212;
$white: #FAFAFA;

$green: #07544A;
$grey: #DADEDF;
$blue: #60C2E5;
$orange: #FDB454;
$red: #F4214F;

$theme: (
  primary: (
    color:       $black,
    background:  $white
  ),
  secondary: (
    color:       $white,
    background:  $black
  )
);

$font-color: $black;
$accent: $red;


/*
 * fonts
 */
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Alegreya|Work+Sans&display=swap');
$font-family: 'Work Sans', sans-serif;
$font-family-serif: 'Alegreya', serif;
$font-family-serif-2: 'Alegreya SC', serif;
$font-scale: 1.5;
$font-unit: "rem";
$line-height: .75rem;
$font-sizes: (
  "p": 1,
  "h6": 1,
  "h5": 1.5,
  "h4": 1.5,
  "h3": 2.25,
  "h2": 3.375,
  "h1": 5.063,
  ".huge": 7.594,
  ".small": 0.667
);
$base-font-size: 18px;
$min-font-size: 14px;
$max-font-size: 24px;

/*
 * spacing
 */
$base-spacing: 1.5rem;
$header-height: 3rem;
$font-spacing: 1.5rem;
