---
layout: default
---

<section class="main-section main-section--home home" data-barba="container" data-barba-namespace="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

{%- if site.projects.size > 0 -%}
  <div class="project-list">
  {%- for project in site.projects -%}
    <article class="project-list__item">
    <a class="project-list__link {{project.class}}" href="{{ project.url | relative_url }}">
      {%- if project.image -%}
      {%-
        assign url = '/assets/images/thumbnails/'  | append: project.image | append: '-thumbnail' | append: "." | append: project.ext
      -%}
      <figure class="thumbnail project-list__thumbnail">
        <img class="thumbnail--img" src="{{ url | relative_url }}">
      </figure>
      {%- endif -%}
      <h4 class="project-list__title">{{ project.title | escape }}</h4>
      <p class="project-list__description">
        {%- if project.tags.size > 0 -%}
        <span class="project-list__tags">
          {%- for tag in project.tags -%}
            <span class="project-list__tag">{{tag}}</span>
            {%- assign last = forloop.length | minus:1 -%}
            {%- if forloop.last == true -%}
            &#32;
            {%-  elsif forloop.index == last -%}
            &#32;and&#32;
            {%- else -%}
            ,&#32;
            {%- endif %}
          {%- endfor -%}
        </span>
        {%- endif -%}
        {{ project.description-details }}
      </p>
    </a>
    </article>
  {%- endfor -%}
  </div>
{%- endif -%}

{%- include footer.html -%}

</section>
